h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

a {
    text-decoration: none;
}

.section-wrap {
    width: 480px;
    background: #FFF5F6;
}

.footer-text {
    margin-bottom: 18px;

    width: 232px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18);
    text-transform: uppercase;
    color: #FFA5BA;
}

.footer-text-maine {
    margin-bottom: 40px;
width: 200px;
    font-weight: 400;
    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}

.footer-list {
    
    margin-bottom: 40px;
}

.socials {
    display: flex;
    justify-content: right;
    padding: 0;
    list-style-type: none;
}

.socials__item:not(:last-child) {
    margin-right: 29px;
}

.socials__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FEA5BB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 3px;
}

.text-wrap {
    display: block;
    width: 100%;
border-top: 1px solid #E1E1E1;
}

.tel-item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 / 12);
    color: #D41443;
}

.tel-item--black {
    color: #000000;
}

.text__copy {
    margin-top: 16px;
    text-align: center;
    
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;
    color: #907E82;
}