.linear {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 245, 246, 1) 40%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%
  );
}

.gallery {
  margin: auto;
  width: 364px;
  height: 122px;

  @media screen and (min-width: 768px) {
    width: 786px;
    height: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 430px;
  }
}
