.gallery {
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 320px) {
    width: 364px;
    height: 122px;
    margin-bottom: 80px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 245, 246, 0.1) 20%,
        rgba(255, 255, 255, 0.1) 81%
      ),
      url(../images/gallery-mob-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 245, 246, 0.1) 20%,
          rgba(255, 255, 255, 0.1) 81%
        ),
        url(../images/gallery-mob-2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    width: 786px;
    height: 264px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 245, 246, 0.1) 20%,
        rgba(255, 255, 255, 0.1) 81%
      ),
      url(../images/gallery-tab-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 245, 246, 0.1) 20%,
          rgba(255, 255, 255, 0.1) 81%
        ),
        url(../images/gallery-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 430px;
    margin-bottom: 120px;

    background-image: linear-gradient(
        to bottom,
        rgba(255, 245, 246, 0.1) 20%,
        rgba(255, 255, 255, 0.1) 81%
      ),
      url(../images/gallery-desk-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 245, 246, 0.1) 20%,
          rgba(255, 255, 255, 0.1) 81%
        ),
        url(../images/gallery-desk-2x.jpg);
    }
  }
}

.gallery__title {
  visibility: hidden;
  margin: 0;
  padding: 0;
}
