.hero {
  font-family: 'Titan One';
  margin-top: -1px;
  
  // padding-top: 196px;
  // padding-bottom: 158px;

  @media screen and (min-width: 768px) {
    // padding-top: 102px;
    // padding-bottom: 56px;
  }

  @media screen and (min-width: 1280px) {
    
    
  }}

  .hero__goods{position: relative;
    display: flex;
    align-items: center;
    z-index: 12;
    margin-top: 51px;
  }

  .hero__container {
    position: relative;
  padding-bottom: 158px;
  padding-top: 194px;
    z-index: 10;
    height: 100%;
    background-color: #ffb8ca;


    @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    padding-top: 102px;
      
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 60px;
        padding-top: 147px;
   
  }}


.hero-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}
.hero__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero__title-accent {
  font-size: 48px;
  line-height: 0.965;
  color: var(--first-accent-color);

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero__btn-list {
  display: flex;
}

.hero__btn-item {
  & + & {
    margin-left: 8px;
  }
}

.hero__btn {
  font-family: 'DM Sans';
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;

  .hero__btn-item:first-child & {
    background: var(--first-accent-color);
    color: var(--white-text-color);
  }
  .hero__btn-item:last-child & {
    background: var(--white-text-color);
    color: var(--first-accent-color);
  }
}

.hero__description {
  @media screen and (max-width: 767px) {
    display: none;
  }
 
 

  @media screen and (min-width: 1280px) {
    
  }
}

.hero__paragraf {
  

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: var(--white-text-color);
  margin-bottom: 7px;
  width: 115px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    width: 200px;

    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__link-arrow {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  @media screen and (min-width: 1280px) {
    height: 26px;
    width: 26px;
  }
}

.property__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.property__item {
  background-image: url(../images/ellipse.svg);
  background-size: 16px 16px;
  background-position: right 3px top 8px;
  background-repeat: no-repeat;

  padding: 10px;
  margin: -10px;
}
.property__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--first-accent-color);
}

.property__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;

  color: var(--white-text-color);
}
.hero__ellipse {
  position: absolute;
 top: 83px;
right: -40px;
width: 345px;
height: 345px;


@media screen and (min-width: 768px) {
  top: 30px;
  left: 50%;
  transform: translateX(-35%);
  width: 335px;
  height: 335px;
}

@media screen and (min-width: 1280px) {
top: 30px;
left: 50%;
transform: translateX(-50%);
width: 535px;
height: 535px;
}
}

.hero__milk {
  display: none;

  @media screen and( min-width:768px){
    display: block;
    
  }
}
.hero__girl {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
  }

  @media screen and (min-width: 1280px) {

    right: 17px;
  }
}

.hero__iceCrem {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-30%);
  @media screen and(min-width:768px) {
    width: 235px;
    transform: translateX(-10%);
  }
  

  @media screen and(min-width:1280px) {
    width: 235px;
transform: translateX(-50%);
  }
}