ul {
    list-style: none;
}



.products {
    background: var(--white-text-color);
}

.product__natural {
    
    margin-bottom: 15px;
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFA5BA;

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.product__main-title {
    margin-bottom: 148px;
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--first-accent-color);
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 154px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 258px;
        font-size: 58px;
        line-height: 1.13;
    }
}

.product-list {
    padding: 0;
    
    @media screen and (min-width: 768px) {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;       
    }

    @media screen and (min-width: 1280px) {
        grid-gap: 32px;
    }
}

.product-list__item {
    
    width: 100%;
    height: 489px;
    position: relative;
    padding-top: 163px;
    padding-bottom: 40px;
    background-color: #F0D1A5;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
        margin-bottom: 140px;
        }
    }

    &:first-child {
        background-color: #FFB8CA;
    }

    &:last-child {
        background-color: #C2E297;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 100%;
        
        height: 473px;
        padding-top: 118px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        
        height: 535px;
        padding-top: 165px;
        padding-bottom: 60px;
    }
}

.product-list__item::before {
    content: "";
    
    position: absolute;
    top: -140px;
    display: inline-block;
    
    height: 280px;
    width: 280px;

    background-image: url('./../images/ice-coffee-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./../images/ice-coffee-mobile@2x.png');
    }
    
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('./../images/ice-coffee-mobile@3x.png');
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        height: 224px;
        width: 224px;
        background-image: url('./../images/ice-coffee-tablet.png');
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/ice-coffee-tablet@2x.png');
        }
        
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('./../images/ice-coffee-tablet@3x.png');
        }
    }

    @media screen and (min-width: 1280px) {
        height: 100%;
        width: 100%;
        top: -261px;
        background-image: url('./../images/ice-coffee-desktop.png');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/ice-coffee-desktop@2x.png');
        }
    
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('./../images/ice-coffee-desktop@3x.png');
        }
    }
}

.product-list__item:first-child::before {
    background-image: url('./../images/ice-cream-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./../images/ice-cream-mobile@2x.png');
    }
    
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('./../images/ice-cream-mobile@3x.png');
    }
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
    
        background-image: url('./../images/ice-cream-tablet.png');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/ice-cream-tablet@2x.png');
        }
    
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('./../images/ice-cream-tablet@3x.png');
        }
    }
    
    @media screen and (min-width: 1280px) {
    
        background-image: url('./../images/ice-cream-desktop.png');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/ice-cream-desktop@2x.png');
        }
    
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('./../images/ice-cream-desktop@3x.png');
        }
    }
}

.product-list__item:last-child::before {
    background-image: url('./../images/milkshakes-mobile.png');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./../images/milkshakes-mobile@2x.png');
    }
    
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('./../images/milkshakes-mobile@3x.png');
    }
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
    
        background-image: url('./../images/milkshakes-tablet.png');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/milkshakes-tablet@2x.png');
        }
    
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('./../images/milkshakes-tablet@3x.png');
        }
    }
    
    @media screen and (min-width: 1280px) {
    
        background-image: url('./../images/milkshakes-desktop.png');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/milkshakes-desktop@2x.png');
        }
    
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('./../images/milkshakes-desktop@3x.png');
        }
    }
}

.product-list__item-title {
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 67px;
    
    color: var(--white-text-color);

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.product-list__item-title::after {
    content: "";
    width: 26px;
    height: 6px;
    display: block;
    background-image: url("./../images/triple-dots.png");

    position: absolute;
    bottom: -40px;
    left: 47px;

    @media screen and (min-width: 1280px) {
        left: 81px;
    }
    
}



.product-list__item-text {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 32px;

    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--white-text-color);

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        line-height: 1.76;
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.76;
        padding-left: 77px;
        padding-right: 77px;
        margin-bottom: 57px;
    }
}

.product-list__item-mob-text {
    @media screen and (min-width: 768px) {
        display: none;
        
    }
}

.product-btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../images/arrow-right.jpg);

}