@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background-white-color);
  font-size: 12px;
}

.button {
  cursor: pointer;
}

:root {
  --first-accent-color: #D41443;
  --second-accent-color: #FFA5BA;
  --first-text-color: #000000;
  --second-text-color: #907E82;
  --white-text-color: #FFFFFF;
  --background-pink-color: #FFF5F6;
  --background-white-color: #E5E5E5;
  --button-white-hover: #ECEBEB;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section--pink {
  background-color: var(--background-pink-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.review-list__item {
  width: 100%;
  text-align: center;
}

.review-list__img {
  border-radius: 44px;
  margin-bottom: 32px;
}

.review-list__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  color: #000000;
  text-align: center;
  background-color: #FAFAFA;
  margin-bottom: 16px;
  padding: 43px 60px 26px 60px;
}

.review-list__span {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E1E1E1), to(#E1E1E1));
  background-image: linear-gradient(#E1E1E1, #E1E1E1);
  background-repeat: repeat-x;
  background-size: 100% 1px;
  background-position: 0 100%;
  padding: 0 15px 8px 9px;
}

.review-list__span::before {
  content: '';
  background-image: url("../images/icons.svg#quotes");
  background-repeat: no-repeat;
  position: absolute;
  top: -15%;
  left: -10%;
}

.review-list__subtext {
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.review-list__subtext::before {
  content: '';
  background-image: url(../images/icons.svg#red-dots);
  background-repeat: no-repeat;
  width: 32px;
  height: 4px;
  left: 50%;
  top: 0;
  position: absolute;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list__item:not(:last-child) {
  margin-right: 18px;
}
/*# sourceMappingURL=main.css.map */