:root {
    --first-accent-color: #D41443;
    --second-accent-color: #FFA5BA;

    --first-text-color: #000000;
    --second-text-color: #907E82;
    --white-text-color: #FFFFFF;

    --background-pink-color: #FFF5F6;
    --background-white-color: #FFFFFF;

    --button-white-hover: #ECEBEB;
  }
  
  
