<section class="contacts section">
    <div class="container">
        <h1 class="contacts-title visually-hidden">Contacts</h1>
        <ul class="cards">
            <li class="cards__item">
                <div>
                    <span class="cards__label">Cafe</span>
                    <h3>Chicago</h3>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="cards__schedule">
                    <li>
                        <p class="cards__schedule-days">Monday - Friday</p>
                        <p class="cards__shedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="cards__schedule-days">Saturday - Sunday</p>
                        <p class="cards__schedule-days">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="info">
                    <li class="info__item"><a class="info__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    <li class="info__item"><a class="info__item-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                </ul>    
            </li>   

            <li class="cards__item">
                <div>
                    <span class="cards__label">FOOD TRUCK</span>
                    <h2>Los Angeles</h2>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="cards__shedule">
                    <li>
                        <p class="cards__schedule-days">Monday - Friday</p>
                        <p class="cards__shedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="cards__schedule-days">Saturday - Sunday</p>
                        <p class="cards__schedule-days">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="info">
                    <li class="info__item"><a class="info__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    <li class="info__item"><a class="info__item-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                </ul>    
            </li> 

            <li class="cards__item">
                <div>
                    <span class="cards__label">Cafe</span>
                    <h2>New York</h2>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="cards__shedule">
                    <li>
                        <p class="cards__schedule-days">Monday - Friday</p>
                        <p class="cards__shedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="cards__schedule-days">Saturday - Sunday</p>
                        <p class="cards__schedule-days">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="info">
                    <li class="info__item"><a class="info__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    <li class="info__item"><a class="info__item-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                </ul>    
            </li> 
        </ul>

        <ul class="contacts__button">
            <li>
                <button class="contacts__button--pink" type="submit" data-modal-open>Our Locations
                    <svg class="button__icon" width="4.43px" height="8px">
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                </button> 
            </li>
            <li>
                <button class="contacts__button--white" type="submit" data-modal-open>Franchise
                    <svg class="button__icon" width="4.43px" height="8px">
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                </button> 
            </li>
        </ul>
    </div>
</section>