<section class="contacts section" id="contacts-section">
    <div class="container">
        <h1 class="contacts-title visually-hidden">Contacts</h1>
        <ul class="cards">
            <li class="cards__item">
                <div class="cards_top">
                    <span class="cards__label">Cafe</span>
                    <h3 class="cards__title">Chicago</h3>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="cards__schedule brd">
                    <li class="cards__schedule-item">
                        <p class="cards__schedule-days">Monday - Friday</p>
                        <p class="cards__schedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cards__schedule-item">
                        <p class="cards__schedule-days">Saturday - Sunday</p>
                        <p class="cards__schedule-hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="info brd">
                    <li class="info__item"><a class="info__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    <li class="info__item"><a class="info__item-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                </ul>    
            </li>   

            <li class="cards__item">
                <div class="cards_top">
                    <span class="cards__label">FOOD TRUCK</span>
                    <h3 class="cards__title">Los Angeles</h3>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="cards__schedule brd">
                    <li class="cards__schedule-item">
                        <p class="cards__schedule-days">Monday - Friday</p>
                        <p class="cards__schedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cards__schedule-item">
                        <p class="cards__schedule-days">Saturday - Sunday</p>
                        <p class="cards__schedule-hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="info brd">
                    <li class="info__item"><a class="info__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    <li class="info__item"><a class="info__item-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                </ul>    
            </li> 

            <li class="cards__item">
                <div class="cards_top">
                    <span class="cards__label">Cafe</span>
                    <h3 class="cards__title">New York</h3>
                    <p class="cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="cards__schedule brd">
                    <li class="cards__schedule-item">
                        <p class="cards__schedule-days">Monday - Friday</p>
                        <p class="cards__schedule-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cards__schedule-item">
                        <p class="cards__schedule-days">Saturday - Sunday</p>
                        <p class="cards__schedule-hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="info brd">
                    <li class="info__item"><a class="info__item-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    <li class="info__item"><a class="info__item-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                </ul>    
            </li> 
        </ul>

        <ul class="contacts__buttons">
            <li>
                <button class="contacts__buttons--pink button" type="submit" data-modal-open>Our Locations
                    <svg class="button__icon--white" width="10" height="14">
                        <use href="./images/icons.svg#next-white"></use>
                    </svg>
                </button> 
            </li>
            <li>
                <button class="contacts__buttons--white button" type="submit" data-modal-open>Franchise
                    <svg class="button__icon--pink" width="10" height="14">
                        <use href="./images/icons.svg#next"></use>    
                    </svg>
                </button> 
            </li>
        </ul>
    </div>
</section>