<section class="section">
  <div class="container">
    <ul class="review-list">

        <li class="review-list__item">
            <picture class="review-list__pic">
                <source
                    srcset="
                    ./images/testimonials-icon-1@2x.jpg 2x,
                    ./images/testimonials-icon-1@3x.jpg 3x "
                    />
                <img  class="review-list__img" src="./images/testimonials-icon-1.jpg" alt="customer-1">
            </picture>
    <div class="review-list__text-wrap">
        <div class="review-list__text-wrap--underline">
            <p class="review-list__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
    </div>
            <p class="review-list__subtext">Emily, Los Angeles</p>
        </li>

        <li>
            <picture class="review-list__pic">
                <source
                    srcset="
                    ./images/testimonials-icon-2@2x.jpg 2x,
                    ./images/testimonials-icon-2@3x.jpg 3x "
                    />
                <img src="./images/testimonials-icon-2.jpg" alt="customer-2">
            </picture>
            <div class="review-list__text-wrap">
                <div class="review-list__text-wrap--underline">
                    <p class="review-list__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
            </div>
                    <p class="review-list__subtext">Emily, Los Angeles</p>
                </li>
        <li>            
            <picture class="review-list__pic">
                <source
                srcset="
                ./images/testimonials-icon-3@2x.jpg 2x,
                ./images/testimonials-icon-3@3x.jpg 3x "
                />
                <img class="review-list__img" src="./images/testimonials-icon-3.jpg" alt="customer-1">
            </picture>
        <div class="review-list__text-wrap">
            <div class="review-list__text-wrap--underline">
                <p class="review-list__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
        </div>
                <p class="review-list__subtext">Emily, Los Angeles</p>
            </li>
    </ul>

    <ul class="pagination-list">

        <li class="pagination-list__item">
            <a href="" class="pagination-list__link">
                <svg width="12" height="12">

                    <use class="pagination-list__icon" href="./images/icons.svg#slider-home"></use>
               <!-- ./images/icons.svg#slider-home -->
                    <use class="pagination-list__icon" href=""></use>

                </svg>
        </a>
    </li>
        <li class="pagination-list__item">
            <a href="" class="pagination-list__link">
                <svg width="12" height="12">

                    <use class="pagination-list__icon" href="./images/icons.svg#ellipse"></use>

                  <!-- ./images/icons.svg#ellipse -->
                    <use class="pagination-list__icon" href=""></use>

                </svg>
        </a>
        </li>
        <li class="pagination-list__item">
            <a href="" class="pagination-list__link">
                <svg width="12" height="12">

                    <use class="pagination-list__icon" href="./images/icons.svg#ellipse"></use>
                  <!-- href="../images/icons.svg#ellipse" -->
                    <use class="pagination-list__icon" href=""></use>

                </svg>

        </a>
      </li>
    </ul>
  </div>
</section>
