<footer class="section">
    <div class="container">
        <p>homemade ice cream made</p>
        <p>with passion</p>
        <div class="footer-list">
            <ul class="socials">
                <li class="socials__item">
                    <a href="" class="socials__link" target="_blank" rel="noopener noreferrer">
                        <svg class="socials__icon" width="32" height="32">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="" class="socials__link" target="_blank" rel="noopener noreferrer">
                        <svg class="socials__icon" width="32" height="32">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="" class="socials__link" target="_blank" rel="noopener noreferrer">
                        <svg class="socials__icon" width="32" height="32">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tel-wrap">
            <a href="tel:+610383766284">Feel free to contact +61 (0) 383 766 284</a>
        </div>
        <div class="text-wrap">
            <p class="text__copy">&copy;2019 - IceCream.
            All Rights Reserved.</p>
        </div>
    </div>
</footer>