<footer class="section section-wrap">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-wrap__text">
                <p class="footer-text">homemade ice cream made</p>
                <p class="footer-text-maine">with passion</p>
            </div>
            <div class="footer-wrap__socials">
                <div class="footer-list">
                    <ul class="socials">
                        <li class="socials__item">
                            <a href="https://github.com" class="socials__link" target="_blank" rel="noopener noreferrer">
                                <svg class="socials__icon" width="32" height="32">
                                    <use href="./images/socialmedia.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://web.telegram.org/z/" class="socials__link" target="_blank" rel="noopener noreferrer">
                                <svg class="socials__icon" width="32" height="32">
                                    <use href="./images/socialmedia.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://m.facebook.com/login/?locale2=ru_RU" class="socials__link" target="_blank" rel="noopener noreferrer">
                                <svg class="socials__icon" width="32" height="32">
                                    <use href="./images/socialmedia.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tel-wrap">
                    <p class="tel-item--black">Feel free to contact</p>
                    <a href="tel:+610383766284" class="tel-item"> +61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-wrap">
                <p class="text__copy">&copy;2019 - IceCream.
                    All Rights Reserved.</p>
            </div>
</footer>