<section class="section linear">
  <div class="gallery">
    <h2 class="visually-hidden">Галлерея</h2>

    <picture>
      <source
        srcset="
          ./images/galary-desktop.png    1x,
          ./images/galary-desktop@2x.png 2x,
          ./images/galary-desktop@3x.png 3x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/galary-tablet.png    1x,
          ./images/galary-tablet@2x.png 2x,
          ./images/galary-tablet@3x.png 3x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/galary-mobile.png    1x,
          ./images/galary-mobile@2x.png 2x,
          ./images/galary-mobile@3x.png 3x
        "
        media="(min-width: 320px)"
      />
      <img class="gallery__png" src="./images/galary-mobile.png" alt="Галлерея" />
    </picture>
  </div>
</section>
