<section container>
  <div class="gallery">
    <h2 class="gallery__title">Галлерея</h2>
    <picture>
      <source
        srcset="../images/gallary-desc.png 1x, ../images/gallary-desc-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="../images/gallary-tab.png 1x, ../images/gallary-tab-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="../images/gallary-mob.png 1x, ../images/gallary-mob-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img class="gallery__png" src="../images/gallary-mob.png" alt="Галлерея" />
    </picture>
  </div>
</section>
