<header class="header">
    <div class="container header-container">
        <a href="#">
            <img src="./images/logo.png" alt="logo" class="logo">
        </a>
        <div class="tab-menu">
            <button type="button" class="mob-menu-open-btn">
                <svg width="20" height="12" class="mob-menu__burger">
                    <use href="./images/icons.svg#burger" ></use>
                </svg>
            </button>
            <div class="mob-menu is-hidden">
                <button type="button" class="mob-menu-close-btn">
                    <svg width="20" height="12">
                        <use href="./images/icons.svg#cross" class="mob-menu__cross"></use>
                    </svg>

                </button>
                <button type="button" class="mob-menu__btn">
                    <span class="mob-menu__btn--text"  data-modal-open>Buy now</span>
                    <svg width="10" height="14">
                        <!-- class="svg__next" -->
                        <use href="./images/icons.svg#next" ></use>
                    </svg>
                </button>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="#" class="navigation__link current">Home</a></li>
                        <li class="navigation__item"><a href="#about-section" class="navigation__link">About us</a></li>
                        <li class="navigation__item"><a href="#about-section" class="navigation__link">How it’s made?</a></li>
                        <li class="navigation__item"><a href="#products-section" class="navigation__link">Our products</a></li>
                        <li class="navigation__item"><a href="#contacts-section" class="navigation__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
            
                <button type="button" class="header__btn">
                    <span class="header__btn--text" data-modal-open> Buy now</span>
                    <svg width="10" height="14" class="svg__next">
                        <use href="./images/icons.svg#next" ></use>
                    </svg>
                </button>
                    </div>

    </div>
</header>