<header class="header">
    <div class="container header-container">
        <a href="#">
            <img src="./images/logo.png" alt="logo" class="logo">
        </a>
        <div class="tab-menu">
            <button type="button" class="mob-menu-open-btn">
                <!-- <img src="./images/burger.svg" alt="open" class="burger"> -->
            </button>
            <div class="mob-menu is-hidden">
                <button type="button" class="mob-menu-close-btn">
                    <!-- <img src="./images/cross.svg" alt="close"> -->
                </button>
                <button type="button" class="mob-menu__btn">
                    <span class="mob-menu__btn--text">Buy now</span>
                </button>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="#" class="navigation__link current">Home</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">How it’s made?</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Our products</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <button type="button" class="header__btn">
                <p class="header__btn--text"> Buy now</p>
            </button>
        </div>
    </div>
</header>