<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div>
                <h1 class="hero__title">ice cream <br> made with <br><span class="hero__title-accent">passion</span>
                </h1>
                <ul class="hero__btn-list">
                    <li class="hero__btn-item">
                        <a href="#products" class="hero__btn">Products</a>
                    </li>
                    <li class="hero__btn-item">
                        <a href="#about" class="hero__btn">How it’s made?</a>
                    </li>
                </ul>
                <div class="hero__description">
                    <p class="hero__paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et
                    </p>
                    <a href="#" class="hero__link">
                        <img src="./images/arrow-right.jpg" alt="arrow" class="hero__link-arrow">
                    </a>
                </div>
            </div>
            <ul class="property__list">
                <li class="property__item">
                    <h2 class="property__title">16</h2>
                    <p class="property__text">cafes</p>
                </li>
                <li class="property__item">
                    <h2 class="property__title">23</h2>
                    <p class="property__text">food truks</p>
                </li>
            </ul>
        </div>
    </div>
</section>