
<div data-modal class="modal">
    <div class="modal__container">
        <button data-modal-close class="modal__btn-next">&#9587
        </button>
        <div class="modal__box">
            <button class="modal__btn">Buy now
                <svg class="modal__svg-buy">

                    <use href="../images/icons.svg#next"></use>

                </svg>
            </button>
        </div>
        <ul class="modal__items">
            <li class="modal__item"><a class="modal__link" href="">Home</a></li>
            <li class="modal__item"><a class="modal__link" href="">About us</a></li>
            <li class="modal__item"><a class="modal__link" href="">How it’s made?</a></li>
            <li class="modal__item"><a class="modal__link" href="">Our products</a></li>
            <li class="modal__item"><a class="modal__link" href="">Contact</a></li>
        </ul>
    </div>
</div>
