<!-- modal-windows -->
<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <button data-modal-close class="modal__button" type="submit">
            <svg class="modal__imgs">
                <use href="./images/symbol-defs.svg#icon-close-black">
                </use>
            </svg>
        </button>

        <div class="modal__box">
            <button class="modal__btn">Buy now
                <svg class="modal__svg-buy">

                    <use href="./images/icons.svg#next"></use>

                </svg>
            </button>
        </div>
        <ul class="modal__items">
            <li class="modal__item"><a class="modal__link" href="">Home</a></li>
            <li class="modal__item"><a class="modal__link" href="">About us</a></li>
            <li class="modal__item"><a class="modal__link" href="">How it’s made?</a></li>
            <li class="modal__item"><a class="modal__link" href="">Our products</a></li>
            <li class="modal__item"><a class="modal__link" href="">Contact</a></li>
        </ul>

        <form class="js-speaker-form">

            <h2 class="js-speaker-form__title">Leave your details we will call you bask</h2>

            <div>

                <div class="js-box">
                    <label class="js-box__label" for="name">
                        Name
                    </label>
                    <input class="js-box__input" type="text" name="user-name" id="name">
                    <svg class="js-box__svg">
                        <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
                    </svg>
                </div>

                <div class="js-box">
                    <label class="js-box__label" for="tel">
                        Phone
                    </label>
                    <input class="js-box__input" type="tel" id="tel" name="tel">
                    <svg class="js-box__svg">
                        <use href="./images/symbol-defs.svg#icon-Vector-2"></use>
                    </svg>

                </div>

                <div class="js-box">
                    <label class="js-box__label" for="mail">
                        Mail
                    </label>
                    <input class="js-box__input" type="email" id="mail" name="mail">
                    <svg class="js-box__svg">
                        <use href="./images/symbol-defs.svg#icon-Vector-3"></use>
                    </svg>
                </div>

                <div class="js-box">
                    <label class="js-box__label" for="comment">A comment</label>
                    <textarea class="js-box__textarea" name="comment" id="comment" rows="8"
                        placeholder="Enter text"></textarea>
                </div>

                <div class="js-item">
                    <label class="js-item__conditions">
                        <input class="js-item__checkbox" type="checkbox" name="conditions" value="conditions">
                        <svg class="js-item__icon">
                            <use href="./images/symbol-defs.svg#icon-icon-check"></use>
                        </svg>
                        <span class="js-item__conditions-text">
                            I agree with the newsletter and accept <a class="js-item__conditions-link" href="">Agreement
                                conditions</a>
                        </span>
                    </label>

                    <button class="js-item__button" type="submit">Send</button>
                </div>
            </div>
        </form>

    </div>
</div>